{% extends 'chat/base.html' %}
{% block meta %}<meta charset="utf-8"/>{% endblock %}
{% block title %}Select chatroom{% endblock %}
{% block  style %}
    <style>
    body{
        background-color: azure;
    }
    #select{
        position: absolute;
        width: 40%;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    </style>
{% endblock %}
{% block content %}
    <div class="input-group" id="select">
        <select class="form-select" id="room-name-input">
            {% for i in chats %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-outline-primary"
                type="button" value="Enter"
                id = "room-name-submit">Select</button>
        <a class="btn btn-outline-secondary" href="../create/" role="button">
            New</a>
    </div>
{% endblock %}
{% block script %}
    <script>
    document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) { //Enter
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/room/' + roomName + '/';
        };
    </script>
{% endblock %}
